body {
  background-color: #685c79;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

/* For Login Page */

.outer_container_login {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login_card {
  background-color: white;
  height: 23rem;
  width: 40%;
  box-sizing: border-box;
  margin: auto;
  border: 2px solid white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_card h2 {
  margin: auto;
  margin-top: 1.5rem;
}

.login_card form {
  height: 50%;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto;
}

.login_card .email_container {
  display: flex;
  justify-content: space-between;
}

.login_card .password_container {
  display: flex;
  justify-content: space-between;
}

.login_card button {
  background-color: rgb(86, 167, 86);
  border-style: none;
  width: 30%;
  padding: 0.2rem;
  border: 2px solid rgb(86, 167, 86);
  border-radius: 10%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.login_card input {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.login_card input:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.login_card .error_message {
  margin-bottom: -2rem;
  margin-top: -1.5rem;
  color: red;
  font-weight: bold;
}

/* for dashboard page */

.dashboard_container nav {
  grid-area: nv;
  background-color: #ffffff;
}

.dashboard_container aside {
  grid-area: sd;
  background-color: #2b2434;
}

.dashboard_container .main {
  grid-area: ma;
  background-color: #edf3fc;
}

.dashboard_container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "nv nv"
    "sd ma";
  height: 100vh;
}

.dashboard_container aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dashboard_container aside .item {
  height: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #d1d5db;
  padding-left: 15%;
  padding-right: 10%;
  border-radius: 10%;
  transition-duration: 0.1s;
}

.dashboard_container aside .item:hover {
  background-color: #3a3246;
  font-weight: bold;
  border-left: 5px solid #2563eb;
}

.dashboard_container aside a {
  text-decoration: none;
}
