body {
  background-color: #685c79;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

/* For Login Page */

.outer_container_login {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login_card {
  background-color: white;
  height: 23rem;
  width: 40%;
  box-sizing: border-box;
  margin: auto;
  border: 2px solid white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_card h2 {
  margin: auto;
  margin-top: 1.5rem;
}

.login_card form {
  height: 50%;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto;
}

.login_card .email_container {
  display: flex;
  justify-content: space-between;
}

.login_card .password_container {
  display: flex;
  justify-content: space-between;
}

.login_card button {
  background-color: rgb(86, 167, 86);
  border-style: none;
  width: 30%;
  padding: 0.2rem;
  border: 2px solid rgb(86, 167, 86);
  border-radius: 10%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.login_card input {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.login_card input:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.login_card .error_message {
  margin-bottom: -2rem;
  margin-top: -1.5rem;
  color: red;
  font-weight: bold;
}

/* for dashboard page layout*/

.dashboard_container nav {
  grid-area: nv;
  background-color: #ffffff;
}

.dashboard_container aside {
  grid-area: sd;
  background-color: #2b2434;
}

.dashboard_container .main {
  grid-area: ma;
  background-color: #edf3fc;
}

.dashboard_container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "nv nv"
    "sd ma";
  height: 100vh;
}

/* dashboard sidebar */

.dashboard_container aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dashboard_container aside .item {
  height: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #d1d5db;
  padding-left: 15%;
  padding-right: 10%;
  border-radius: 10%;
  transition-duration: 0.1s;
}

.dashboard_container aside .item:hover {
  background-color: #3a3246;
  font-weight: bold;
  border-left: 5px solid #2563eb;
}

.dashboard_container aside a {
  text-decoration: none;
}

.dashboard_container .empty_space {
  background-color: #2b2434;
  height: 18%;
}

.dashboard_container aside .active {
  background-color: #3a3246;
  font-weight: bold;
  border-left: 5px solid #2563eb;
}

/* dashboard navbar  */

.dashboard_container nav .nav_container {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "ls ds";
  height: 100%;
}

.dashboard_container nav .logo_sec {
  grid-area: ls;
  border-right: 2px solid rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_container nav .dif_sec {
  grid-area: ds;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1.2rem;
  padding-right: 3.5rem;
}

.dashboard_container nav .photo_sec {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.dashboard_container nav .photo_sec .arrow {
  font-size: 0.8rem;
}

.dashboard_container nav .photo_sec .image {
  height: 2.5rem;
  width: 2.5rem;
}

.dashboard_container nav .photo_sec img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgb(155, 155, 255);
}

.dashboard_container nav .dif_sec .full_name {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.dashboard_container nav .full_name .name {
  font-size: 0.8rem;
  font-weight: 500;
}

.dashboard_container nav .full_name .designation {
  font-size: 0.8rem;
  font-weight: 300;
}

.dashboard_container nav .dif_sec a {
  text-decoration: none;
}

.dashboard_container nav .dif_sec a:hover {
  background-color: #d8d8d871;
  border-radius: 20%;
}

.dashboard_container .nav_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1%;
  top: 7%;
  width: 10rem;
  z-index: 1000;
  gap: 0.8rem;
  background-color: white;
  padding: 15px;
  border-radius: 10%;
}

.dashboard_container .nav_drop_container a {
  text-decoration: none;
  color: #2b2434;
  font-size: 1rem;
}

.dashboard_container .nav_drop_container .item {
  width: 100%;
  padding: 7px;
}

.dashboard_container .nav_drop_container .item:hover {
  background-color: #b8b9b9;
  transition-duration: 0.8s;
  border-radius: 9%;
}

/* Admins submenu */

.dashboard_container .admin_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 14%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .admin_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .admin_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .admin_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .admin_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Employee submenu */

.dashboard_container .emp_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 20%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .emp_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .emp_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .emp_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .emp_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* suppliers submenu */

.dashboard_container .sup_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 26%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .sup_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .sup_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .sup_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .sup_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Products submenu */

.dashboard_container .prod_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 32%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .prod_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .prod_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .prod_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .prod_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* purchases submenu */

.dashboard_container .pur_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 38%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .pur_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .pur_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .pur_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .pur_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Sales submenu */

.dashboard_container .sale_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 44%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .sale_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .sale_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .sale_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .sale_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Warehouse Submenu */

.dashboard_container .wh_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 50%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .wh_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .wh_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .wh_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .wh_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Inventory submenu */

.dashboard_container .inv_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 56%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .inv_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .inv_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .inv_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .inv_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Customer Submenu */

.dashboard_container .cust_drop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 12%;
  top: 62%;
  padding: 10px;
  justify-content: center;
  gap: 0.7rem;
}

.dashboard_container .cust_drop_container .item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dashboard_container .cust_drop_container .item:hover {
  background-color: #b8b9b9;
  border-radius: 10%;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard_container .cust_drop_container .item i {
  font-size: 0.7rem;
}

.dashboard_container .cust_drop_container a {
  text-decoration: none;
  color: #3a3246;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Profile-Page */

.profile_container {
  background-color: #edf3fc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.profile_container .left_side {
  width: 20%;
  height: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 10px 10px 20px rgb(190, 190, 255);
}

.profile_container .right_side {
  width: 50%;
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 10%;
}

.profile_container .left_side .top {
  width: 55%;
  height: 55%;
  border-radius: 20%;
}

.profile_container .left_side .top img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20%;
}

.profile_container .right_side .top {
  width: 90%;
  height: 35%;
}

.profile_container .right_side .bottom {
  width: 90%;
  height: 35%;
}

.profile_container .back_to_dashboard {
  position: absolute;
  top: 5%;
  left: 11%;
  text-decoration: none;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  transition-duration: 0.3s;
}

.profile_container .back_to_dashboard:hover {
  background-color: #487ff5;
  transform: scaleX(0.9);
}

.profile_container .right_side .bottom div {
  display: flex;
  justify-content: right;
  margin-right: 6%;
}

.profile_container .edit_option {
  text-decoration: none;
  background-color: #294e9e;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  transition-duration: 0.3s;
  display: inline-block;
}

.profile_container .edit_option:hover {
  background-color: #487ff5;
  transform: scalex(0.9);
}

/* Edit Profile page */

.edit_profile_container {
  background-color: #edf3fc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_profile_container .edit_card {
  background-color: white;
  height: 80%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 10%;
}

.edit_profile_container .edit_card .pp {
  height: 25%;
  width: 35%;
}

.edit_profile_container .edit_card .pp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.edit_profile_container .edit_card .upload_pp input {
  cursor: pointer;
}

.edit_profile_container .edit_card .edit_details {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.edit_profile_container .edit_card .edit_details div {
  display: flex;
  width: 78%;
  justify-content: space-between;
}

.edit_profile_container .edit_card .edit_details input {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.edit_profile_container .edit_card .edit_details input:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.edit_profile_container .edit_card button {
  padding: 8px;
  margin-top: -5%;
  margin-right: 28%;
  background-color: #225ece;
  color: white;
  cursor: pointer;
  border-radius: 10%;
  border: 2px solid #286ae6;
  align-self: flex-end;
}

.edit_profile_container .edit_card button:hover {
  background-color: #3e7aeb;
  font-weight: bold;
}

.edit_profile_container .back_to_dashboard {
  position: absolute;
  top: 5%;
  left: 11%;
  text-decoration: none;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5%;
  transition-duration: 0.3s;
}

.edit_profile_container .back_to_dashboard:hover {
  background-color: #487ff5;
  transform: scaleX(0.9);
}

.main .all_container .table_caption {
  width: 100%;
  font-size: large;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.main .all_container table {
  width: 95%;
  border-spacing: 1px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.main .all_container td,
.main .all_container th {
  text-align: center;
  padding: 8px 20px;
}

tr:nth-child(odd) {
  background-color: rgb(224, 224, 253);
}

.main .all_container td a {
  font-size: x-small;
  background-color: #3e7aeb;
  padding: 6px;
  margin-left: 6px;
  margin-right: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10%;
  text-decoration: none;
}

.main .all_container td img {
  object-fit: cover;
  border-radius: 5px;
}

.main .all_container td .delete_button {
  background-color: red;
}

.main .add_new_admin_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .add_new_admin_container .add_new_caption {
  padding-top: 3.5rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .add_new_admin_container form {
  width: 35%;
  height: 70%;
  background-color: #ffffff;
  margin-top: 3rem;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main .add_new_admin_container form div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .add_new_admin_container form div .special_field {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .add_new_admin_container form div .special_field:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.main .add_new_admin_container form div button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-top: 25px;
  border: 2px solid #286ae6;
  border-radius: 10%;
}

.main .add_employee_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .add_employee_container .add_employee_caption {
  padding-top: 3.5rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .add_employee_container form {
  width: 35%;
  height: 70%;
  background-color: #ffffff;
  margin-top: 3rem;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main .add_employee_container form div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .add_employee_container form div .special_field {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .add_employee_container form div .special_field:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.main .add_employee_container form div button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-top: 25px;
  border: 2px solid #286ae6;
  border-radius: 10%;
}

.main .add_supplier_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .add_supplier_container .add_supplier_caption {
  padding-top: 3.5rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .add_supplier_container form {
  width: 35%;
  height: 70%;
  background-color: #ffffff;
  margin-top: 3rem;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main .add_supplier_container form div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .add_supplier_container form div .special_field {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .add_supplier_container form div .special_field:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.main .add_supplier_container form div button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-top: 25px;
  border: 2px solid #286ae6;
  border-radius: 10%;
}

.main .add_product_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .add_product_container .add_product_caption {
  padding-top: 3.5rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .add_product_container form {
  width: 35%;
  height: 70%;
  background-color: #ffffff;
  margin-top: 3rem;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main .add_product_container form div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .add_product_container form div .special_field {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .add_product_container form div .special_field:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.main .add_product_container form div button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-top: 25px;
  border: 2px solid #286ae6;
  border-radius: 10%;
}

/* Categories Page */

.main .category_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .category_container .category_caption {
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .category_container form {
  width: 50%;
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.main .category_container form div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main .category_container form .special_field {
  outline: none;
  padding: 5px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .category_container form .special_field:focus {
  border-bottom: 3px solid #343435;
}

.main .category_container form button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #286ae6;
  border-radius: 8%;
}

.main .category_container .category_table {
  width: 80%;
}

.main .category_container table {
  width: 100%;
  border-spacing: 1px;
  background-color: white;
}

.main .category_container td,
.main .category_container th {
  text-align: center;
  padding: 10px 20px;
}

/* Brands Page */

.main .brand_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .brand_container .brand_caption {
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .brand_container form {
  width: 50%;
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.main .brand_container form div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main .brand_container form .special_field {
  outline: none;
  padding: 5px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .brand_container form .special_field:focus {
  border-bottom: 3px solid #343435;
}

.main .brand_container form button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #286ae6;
  border-radius: 8%;
}

.main .brand_container .brand_table {
  width: 80%;
}

.main .brand_container table {
  width: 100%;
  border-spacing: 1px;
  background-color: white;
}

.main .brand_container td,
.main .brand_container th {
  text-align: center;
  padding: 10px 20px;
}

/* Units Page */

.main .unit_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .unit_container .unit_caption {
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .unit_container form {
  width: 50%;
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.main .unit_container form div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main .unit_container form .special_field {
  outline: none;
  padding: 5px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .unit_container form .special_field:focus {
  border-bottom: 3px solid #343435;
}

.main .unit_container form button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border: 2px solid #286ae6;
  border-radius: 8%;
}

.main .unit_container .unit_table {
  width: 80%;
}

.main .unit_container table {
  width: 100%;
  border-spacing: 1px;
  background-color: white;
}

.main .unit_container td,
.main .unit_container th {
  text-align: center;
  padding: 10px 20px;
}

/* Add Warehouse Page */

.main .add_warehouse_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main .add_warehouse_container .add_warehouse_caption {
  padding-top: 3.5rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
  font-size: large;
}

.main .add_warehouse_container form {
  width: 35%;
  height: 45%;
  background-color: #ffffff;
  margin-top: 3rem;
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main .add_warehouse_container form div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .add_warehouse_container form div .special_field {
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border: 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.main .add_warehouse_container form div .special_field:focus {
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}

.main .add_warehouse_container form div button {
  background-color: #286ae6;
  color: white;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-top: 25px;
  border: 2px solid #286ae6;
  border-radius: 10%;
}
