body {
  background-color: #b1aab6;
  font-family: "Roboto Mono", monospace;
}

.outer_container_login {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login_card {
  background-color: white;
  height: 23rem;
  width: 35%;
  box-sizing: border-box;
  margin: auto;
  border: 2px solid white;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_card h2 {
  margin: auto;
  margin-top: 1.5rem;
}

.login_card form{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: auto;
}

.login_card .email_container {
    display : flex;
    justify-content: space-between;
} 

.login_card .password_container {
    display : flex;
    justify-content: space-between;
}

.login_card button{
  background-color: rgb(86, 167, 86);
  border-style: none;
  width: 30%;
  padding: 0.2rem;
  border: 2px solid rgb(86, 167, 86);
  border-radius: 10%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}


.login_card input{
  outline: none;
  padding: 1px;
  font-size: medium;
  width: 14rem;
  border : 2px solid rgb(199, 198, 198);
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Roboto Mono", monospace;
}

.login_card input:focus{
  border-bottom: 3px solid #343435;
  transform: scaleX(1.06);
  transition-duration: 0.4s;
}